<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DojoDachi</title>
</head>
<body>
    
    <h1>@ViewBag.message</h1>

    <p><a href="/reset"><button>Play Again?</button></a></p>

    <p>Happiness: <progress value="@ViewBag.happiness" max="100"></progress></p>
    <p>Fullness: <progress value="@ViewBag.fullness" max="100"></progress></p>
    <p>Energy: <progress value="@ViewBag.energy" max="100"></progress></p>
    <p>Meals:
        @{
            if(ViewBag.meals < 4){
                for(int i=0; i<ViewBag.meals; i++)
                {
                    <span>🍔</span>
                }
            }
            else
            {
                <span>🍔 X @ViewBag.meals</span>
            }
        }
    </p>

    <div style="width: 300px; height: 300px; display:inline-block; background-color:#999;"></div>

</body>
</html>